<p *ngIf="isLoading">Loading courses...</p>

<div *ngIf="!isLoading">
  <button type="button" (click)="addSampleCourse()">Add Sample Course</button>
  <ng-container *ngIf="courses.length; else noCourses">
    <app-course-card
      *ngFor="let course of courses; let i = index; trackBy: trackByCourseId"
      [course]="course"
      [isEnrolled]="isEnrolled(course.id)"
      (enrollRequested)="onEnroll($event)">
    </app-course-card>
  </ng-container>
</div>

<section class="course-metrics">
  <app-course-summary-widget [course]="selectedCourse"></app-course-summary-widget>
  <app-enrollment-status-widget></app-enrollment-status-widget>
</section>

<ng-template #noCourses>
  <p>No courses available.</p>
</ng-template>

<p *ngIf="selectedCourseId">Selected course ID: {{ selectedCourseId }}</p>